<p>Você está em ambiente de <%= translate_environment %> </p>

<p>variável <%= @random_number %> </p>

<p>meu nome é <%= @my_name %>

<p>Meu nome reverso é <%= "Danielle".reverse %></p>

<% texto = "um texto" %>
<p>Imprimindo a variável: <%= texto %> </p>
<p>A data de hoje é: <%= l(Date.today) %> </p>