<h1>Bem vindo!</h1>
<h2><%= application_name %></h2>
<p>Meu nome reverso é <%= "Danielle".reverse %></p>

<% texto = "um texto" %>
<p>Imprimindo a variável: <%= texto %> </p>
<p>A data de hoje é: <%= brazilian_date(Date.today) %> </p>

<%= render "menu" %>

<p>Você está em ambiente de <%= translate_environment %> </p>

<p>variável <%= @random_number %> </p>

<p>meu nome é <%= @my_name %>