<h1>Welcome!</h1>
<h2><%= application_name %></h2>
<p>The language in this application is: <strong><%= t('current_locale') %></strong></p>
<%= render "menu" %>
<%= render "extra" %>
<p><%= cookies[:curso] %></p>
<p><%= session[:curso] %></p>