<h1>Bem vindo!</h1>
<h2><%= application_name %></h2>
<p>Meu nome reverso é <%= "Danielle".reverse %></p>

<% texto = "um texto" %>
<p>Imprimindo a variável: <%= texto %> </p>
<p>A data de hoje é: <%= brazilian_date(Date.today) %> </p>

<ul>
    <li> 
        <a href="/coins">Cadastro de Moedas</a><!-- em html-->
    </li>
    <li> 
        <%= link_to "Cadastro de Moedas", coins_path %><!--usando ERB-->
    </li>
</ul>

<p>Você está em ambiente de <%= translate_environment %> </p>

<p>variável <%= @random_number %> </p>